
<div class="col-lg-12">
  <div class="card rounded-0 mt-5 mb-5">
    <div class="card-body">
      <h2 class="text-center" style="color:blue;">Add New Appointment</h2>
    </div>
  </div>
    <h3>Patiant Details</h3>
    <%= render 'form', appointment: @appointment %>
  </div>
